# 是否使用代理
USE_PROXY=True
PROXY_URL=http://127.0.0.1:7897

# 价格检查间隔（秒）
PRICE_CHECK_INTERVAL=60

# 是否启用交易时间校验（默认启用）
ENABLE_TRADING_TIME_CHECK=true

# 使用测试网（默认）
USE_TESTNET=False

# xau交易对使用okx还是mt5
USE_XAU_OKX=False


# 交易配置
MIN_PRICE_DIFF=11 # 价格差 差10U 才开
CLOSE_PRICE_DIFF=1 # 平仓阈值
OPEN_LEVEL=1 # 开仓杠杆
PAXF_QUANTITY=1 # 仓位大小 按照盎司计算


# Binance 测试网 API配置
BINANCE_TEST_API_KEY=
BINANCE_TEST_API_SECRET=

# Binance 主网
BINANCE_API_KEY=
BINANCE_API_SECRET=

# OKX 测试网 API配置
OKX_TEST_API_KEY=
OKX_TEST_API_SECRET=
OKX_TEST_PASSPHRASE=

# OKX 主网 主账户
# OKX_API_KEY=
# OKX_API_SECRET=
# OKX_PASSPHRASE=

# okx 主网 子账户
OKX_API_KEY=
OKX_API_SECRET=
OKX_PASSPHRASE=


# 钉钉配置
USE_DINGTALK = False
DINGTALK_SECRET=

DINGTALK_GROUP1_WEBHOOK=
DINGTALK_GROUP1_NAME=群组1
